@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
html {
    font-family: sans-serif;
  }
  
  body {
    background: #2c2c2c;
  }
  
  h2 {
    font-size: 1.25rem;
    margin: 1rem 0.5rem;
  }
  
  progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 80%;
    height: 2rem;
    color: #ff0062;
    border: 1px solid #a927f5;
  }
  
  progress[value]::-webkit-progress-bar,
  progress[value] {
    background-color: #eee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  
  progress[value]::-webkit-progress-value {
    background-color: #a927f5;
    transition: all 0.2s ease-out;
  }
  
  progress[value]::-moz-progress-bar {
    background-color: #a927f5;
    transition: all 0.2s ease-out;
  }
  
  button {
    font: inherit;
    background: #ff0062;
    border: 1px solid #ff0062;
    color: white;
    padding: 1rem 2rem;
    border-radius: 6px;
    cursor: pointer;
    margin: 0.5rem;
  }
  
  button:focus {
    outline: none;
  }
  
  button:hover,
  button:active {
    background: #a927f5;
    border-color: #a927f5;
  }
  
  #health-levels,
  #controls,#counter {
    margin: 2rem auto;
    width: 30rem;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background: white;
  }
  
  #counter{
    
    #xp-lvl {
      margin: 0 auto;
      width: 80%;
      display: flex;
      justify-content: space-between;
      
    }
    h3{
      margin: 5px;
    }
    h5{
      margin: 0;
      margin-top: 8px;
    }
  }

  #controls {
    display: flex;
    flex-direction: column;
  }
  
  #bonus-life {
    font-weight: bold;
    color: white;
    background: #ff0062;
    border: 1px solid #ff0062;
    padding: 0.15rem 0.5rem;
    border-radius: 10px;
    text-align: center;
    margin: 0 0.5rem;
  }
  #inventory {
    box-sizing: border-box;
    position: relative;
    text-align: end;
    padding: 20px 40px;
  }
  #bag {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 3rem;
    cursor: pointer;
  }
  #bag:hover{
    color: gray;
  }
  #bag:hover::after {
    content: 'Inventory(12)';
    position: absolute;
    top: 100%;
    right: -90%;
    font-size: 1rem;
  }
  #open-bag {
    position: absolute;
    bottom: -50px;
    right: 0;
    display: none;
    flex-direction: column;
    width: 25%;
    height: 300px;
    border: 1px solid gray;

    #items-space {
      box-sizing: border-box;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px;
      width: 100%;
      height: 90%;

      div {
        width: 20%;
        height: 25%;
        border: 1px solid blue;
      }
    }

    #money-bar {
      color: lightgray;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;
      width: 100%;
      height: 10%;
      border: 1px solid gray;

      div{
        color: gold;
        width: 80%;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        gap: 5px;

        i{
          font-size: 0.95rem;
        }
        p{
          font-size: 0.95rem;
        }
      }
      #close-bag {
        cursor: pointer;
      }
    }
  }
  
  